* {
  width: 0px;
  height: 0px;
  /*background-color: red;*/
} 


body,
html {
  background-color:#dfcc98;
}

.hola1{
  background-color: #3f0e6d;
  width: 500px;
  height: 500px;
}

#hola1 {
  background-color: orangered;
}
/*Se da mas prioridad a esta clase por encima de ".hola1"*/
html .hola1 {
  background-color: #7c8d5b;
}
/*si hay empate se deja la ultima colocada*/
html .hola1 {
  background-color: cornflowerblue;
}
/*el signo > le da clase al hijo directo*/
.hola1>p {
  border: 1px solid black;
}
/*El signo + le da clase a los hermanos que estén de él para abajo
sin afectarlo a él*/
.hola1+div {
  border: 3px solid white;
}
/*el signo ~ afecta al hermanos inmediato*/
.hola1~div {
  border: 4px solid burlywood;
}

div:hover .hola3>p {
  width: 250%;
}

input:focus {
  border-radius: 20%;
}

div :nth-child(3) {
  border: 8px solid salmon;
}

/*escoge en orden contrario*/
div :nth-last-child(1) {
  border: 5px solid blue;
}

div :nth-child(odd) {
  background-color: aqua;
  padding: 5px;
}

div:nth-of-type(2) {
  background-color: violet;
  padding: 5px;
}

/*Poner first o last en vez de nth super util para dar clases a primeros o ultimos*/
div:nth-last-of-type(3n-1) {
  background-color: chartreuse;
  border: 4px solid orange;
  border-radius: 5px;
}