/* *Para isntalar global con stylus se usa -g
para usar mejor código se usa nib - se escribe la posicion y la ubicación de una
    EJ: absolute: top 10px right 15px
para el media query más limpio se usa rupture

* */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 3px solid #0055ab;
  box-shadow: 0 3px 9px #333;
  color: #fff;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  min-height: 100vh;
}
@media only screen and (max-width: 799px) {
  .main--open .menu {
    transform: translateX(0);
  }
  .main--open .hamburger__inner {
    transform: translateY(10px) rotate(45deg);
  }
  .main--open .hamburger__inner::before {
    opacity: 0;
    transform: translateY(-20px) rotate(90deg);
  }
  .main--open .hamburger__inner::after {
    transform: translateY(-20px) rotate(-90deg);
  }
}
@media only screen and (min-width: 800px) {
  .main {
    justify-content: space-between;
    width: 100vw;
    flex-direction: row;
    min-height: auto;
    background-color: #011c80;
  }
}
@media only screen and (max-width: 799px) {
  .hamburger-menu {
    background-color: #011c80;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid #0055ab;
  }
}
@media only screen and (max-width: 799px) {
  .hamburger {
    min-height: 30px;
    width: 50px;
    position: relative;
    cursor: pointer;
  }
  .hamburger__inner {
    transform-origin: center center;
  }
  .hamburger__inner,
  .hamburger__inner::after,
  .hamburger__inner::before {
    background-color: #fff;
    position: absolute;
    width: 40px;
    height: 4px;
    border-radius: 5px;
    content: "";
    transition: all 0.3s ease-in-out;
  }
  .hamburger__inner::after {
    top: 20px;
  }
  .hamburger__inner::before {
    top: 10px;
  }
}
.logo {
  align-items: center;
  display: flex;
}
.logo__img {
  margin: 10px;
  width: 50px;
}
.logo__name {
  font-size: 21px;
}
.logo__subname {
  font-size: 16px;
}
.menu {
  display: flex;
  flex-direction: column;
  background-color: #011c80;
  width: 270px;
  min-height: 100vh;
  transform: translateX(-100%);
  transition: all 0.3s ease-in-out;
}
@media only screen and (min-width: 800px) {
  .menu {
    flex-direction: row;
    transition: auto;
    transform: translateX(0);
    min-height: auto;
    width: auto;
  }
}
.menu__item {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid #0055ab;
}
@media only screen and (min-width: 800px) {
  .menu__item {
    width: 135px;
    height: 100%;
    position: relative;
  }
}
.menu__item a {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
  padding: 15px 0;
}
.menu__item:hover,
.menu__item:focus {
  background-color: #0055ab;
}
.menu__item--subitem:hover .submenu,
.menu__item--subitem:focus .submenu {
  display: block;
}
.flecha::after {
  content: "▾";
  padding-right: 5px;
}
@media only screen and (min-width: 800px) {
  .flecha::before {
    content: "▾";
    padding-right: 5px;
  }
  .flecha::after {
    content: "";
  }
}
.submenu {
  background: #011c80;
  border-bottom: 3px solid #0055ab;
  border-top: 3px solid #0055ab;
  box-shadow: 0 3px 9px #333;
  display: none;
  width: 270px;
}
@media only screen and (min-width: 800px) {
  .submenu {
    right: 0;
    bottom: 0;
    position: absolute;
    transform: translateY(100%);
  }
}
.submenu__item {
  height: 50px;
  border-bottom: 1px solid #0055ab;
}
.submenu__item:hover {
  background: #0055ab;
}
