font-size-SM = 16px
font-size-LG = 21px
font-size-MD = 12px
color-white = white
color-blue = #011c80
color-blue--light = #0055ab
height-options-menu = 50px
sizing-XXS = 5px
sizing-XS = 10px
sizing-SM = 50px
sizing-MD = 135px
sizing-LG = 270px
font-family-sans = -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
font-style-italic = italic

*
    padding: 0
    margin: 0
    box-sizing: border-box

a
    text-decoration: none
    color:inherit

.main
    background-color: color-blue
    display: flex
    justify-content: space-between
    color: color-white
    font-family: font-family-sans
.logo
    display:flex
    align-items: center
    &__img
        width: sizing-SM
        margin: sizing-XS
    &__name
        font-size: font-size-LG
    &__subname
        font-size: font-size-SM
.menu
    display: flex
    flex-wrap: wrap
    &__item
        list-style: none
        width: sizing-MD
        height: 100%
        display: flex
        align-items: center
        justify-content: center
        &:hover
            background-color: color-blue--light
        &--subitem
            a
                &::before
                    content:"▾"
                    padding-right:sizing-XXS

        a
            width: 100%
            height 100%
            display: flex
            align-items: center
            justify-content: center



