/* *Para isntalar global con stylus se usa -g
para usar mejor código se usa nib - se escribe la posicion y la ubicación de una
    EJ: absolute: top 10px right 15px
para el media query más limpio se usa rupture

* */
@import "rupture"

font-size-SM = 16px
font-size-LG = 21px
font-size-MD = 12px
color-white = white
color-blue = #011c80
color-blue--light = #0055ab
color-gray = #333333
height-options-menu = 50px
sizing-XXS = 5px
sizing-XS = 10px
sizing-SM = 50px
sizing-MD = 70px
sizing-ML = 120px
sizing-LG = 135px
sizing-XL = 270px
font-family-sans = -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif
font-style-italic = italic

*
    box-sizing: border-box
    margin: 0
    padding: 0

ul
ol
    list-style: none

a
    color: inherit
    text-decoration: none

.main
    display: flex
    flex-direction: column
    width: sizing-XL
    background-color: color-blue
    border-bottom: 3px solid color-blue--light
    box-shadow: 0 3px 9px color-gray
    color: color-white
    display: flex
    font-family: font-family-sans
    min-height: 100vh

    +above(800px)
        justify-content: space-between
        width: 100vw
        flex-direction: row
        min-height: auto

.logo
    align-items: center
    display: flex

    &__img
        margin: sizing-XS
        width: sizing-SM

    &__name
        font-size: font-size-LG

    &__subname
        font-size: font-size-SM

.menu
    display: flex
    flex-direction: column
    flex-wrap: wrap

    +above(800px)
        flex-direction: row

    &__item
        align-items: center
        display: flex
        flex-direction: column
        // height: sizing-SM
        justify-content: center
        width: 100%
        border-bottom: 1px solid color-blue--light

        +above(800px)
            width: sizing-LG
            height: 100%
            position: relative

        a
            align-items: center
            display: flex
            height: 100%
            justify-content: center
            width: 100%
            padding: 15px 0

        &:hover
        &:focus
            background-color: color-blue--light

        &--subitem
            &:hover
            &:focus
                .submenu
                    display: block

.flecha
    &::after
        content: "▾"
        padding-right: sizing-XXS

    +above(800px)
        &::before
            content: "▾"
            padding-right: sizing-XXS

        &::after
            content: ""

.submenu
    // absolute: top sizing-MD right sizing-XL
    background: color-blue
    border-bottom: 3px solid color-blue--light
    border-top: 3px solid color-blue--light
    box-shadow: 0 3px 9px color-gray
    display: none
    width: sizing-XL

    // left: sizing-XL
    // top: sizing-ML
    +above(800px)
        right: 0
        bottom: 0
        position: absolute
        transform: translateY(100%)

    &__item
        height: sizing-SM
        border-bottom: 1px solid color-blue--light

        &:hover
            background: color-blue--light